In [9]:
import pandas as pd

In [10]:
data1 = pd.read_csv("pos_tags_115.csv")
data2 = pd.read_csv("pos_tags_115_after.csv")

In [11]:
data1.shape, data2.shape

((49, 5497), (43, 589))

In [12]:
data1.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,5486,5487,5488,5489,5490,5491,5492,5493,5494,5495
0,WP,What,whats,WHAT,what.,what,who,whoever,WHATS,tho,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VBP,diagnose,overdose,appeal,dunno,bow,lie,serve,worry.,brush,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JJ,greatful,shallow,official,happy,perplexed,non-cdc,ignorant,fifth,hard,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NN,IgE,mile,marker,Inflammation,dimethyl,methotrexate,trial,request,peppermint,...,excercise,today,week.,mannn,ox,magic,cleanliness,cooling,Homeopathy,word
4,NNS,PARENTS,pros,tools,quarters,memes,generators,arms,40lbs,answers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data2.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,578,579,580,581,582,583,584,585,586,587
0,WRB,how,When,where,when,How,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TO,to,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,VB,assess,treat,Pay,establish,mimic,accompany,talk,exacerbate,condition,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NNP,EIA,DoD,Germany,IL-5,C,IL-6,CT,Th,HRVC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,.,.,?,),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN